{% extends 'djangoapp/base.html' %}
{% block content %}

<div class="container bg-dark" style="border-radius:40px ;padding:50px; margin-top: 40px;">
  
        <h2 class="text-info">Welcome to Best Cars dealership</h2>
        <hr style="background-color: lightblue;" />
        <p class="text-white">Home to the best cars in North America. We sell domestic and imported cars at reasonable prices.</p>
        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim sint esse hic minima soluta aut illum quidem dicta recusandae exercitationem
             doloribus, aperiam quaerat excepturi id veritatis, minus itaque! Autem labore nemo fugiat dolorum doloremque harum omnis! Laudantium cum, earum 
             culpa nostrum harum vitae debitis officia sit. Quisquam corrupti, alias aliquam ducimus repellat, libero mollitia minus ad modi est, hic consectetur 
             iste. Quam vitae fugiat earum consequuntur animi reiciendis, nisi at fuga accusamus enim quaerat, in cupiditate consequatur tenetur explicabo ab omnis
              illo numquam esse sapiente mollitia! Saepe atque quaerat officia vitae temporibus? Illo veniam asperiores nesciunt error minus id omnis debitis corporis
               necessitatibus mollitia, quae fugiat, consequatur esse sint obcaecati consequuntur voluptatem temporibus quia expedita? Quos, maiores numquam animi 
               nostrum obcaecati tenetur. Deleniti aliquam aut voluptatem aspernatur architecto, impedit omnis? Odio at quos sapiente, adipisci inventore eligendi 
               provident doloribus in placeat molestiae magnam perspiciatis. Necessitatibus corporis placeat praesentium perferendis quis!
        </p>
        <br/>
        <p class="text-white">We hope to welcome you at our dealers soon.</p>
        <p class="text-white">Minna</p>

 


</div>
{% endblock %}