{% extends 'djangoapp/base.html' %}
{% block content %}
<div class="container">
    <h4>Add a review about <span class="font-weight-bold">{{dealer.full_name}}</span></h4>


    <form action="{% url 'djangoapp:add-review-view' dealer_id %}" method="POST">
        {% csrf_token %}
        <h6>Enter the review content:</h6>
        <textarea class="form-control" id="content" name="content" rows="2" required></textarea> <br/>
        
        <h6> <input class="checkbox" type="checkbox" name="purchasecheck" id="purchasecheck" value=True> Has purchased the car from {{dealer.full_name}}? <small>(select purchased car information below if checked)</small></h6>
        <h6>Select your car (model-make-year): 
        <select name="car" id="car" class="form-select" required>
            {% for car in cars %}
            <option selected value={{car.id}}>{{car.name}}-{{car.carmake.name}}-{{ car.year|date:"Y" }}</option>
            {% endfor %}
        </select></h6>
        <br/>
        <h6>Select Your Purchase Date:</h6>
        <input class="date-own form-control" type="date" name="purchasedate" id="purchasedate">
        <br/>
        <button class="btn btn-primary" type="submit">Submit</button> 
    </form>
</div>


{% endblock %}