{% extends 'djangoapp/base.html' %}
{% block content %} 
<div class="container bg-dark" style="border-radius:40px ;padding:70px; margin-top: 40px;">
 <table class="table text-white" id="table" data-filter-control="true">
        <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="dealer">Dealer Name</th>
                <th data-field="city">City</th>
                <th data-field="address">Address</th>
                <th data-field="zip">Zip</th>
                <th data-field="state" data-filter-control="select">State</th>
            </tr>
        </thead>
        <tbody>
            {% for dealer in dealership_list %}
                <tr>
                    <td>{{dealer.id}}</td>
                    <td><a class="text-info" href="{% url 'djangoapp:dealer-details-view' dealer.id %}">{{dealer.full_name}}</a></td>
                    <td>{{dealer.city}}</td>
                    <td>{{dealer.address}}</td>
                    <td>{{dealer.zip}}</td>
                    <td>{{dealer.st}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}