{% block content %}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Car Dealer</a>
            <a class="btn btn-link" href="{% url 'djangoapp:about-view' %}">About Us</a>
            <a class="btn btn-link" href="{% url 'djangoapp:contact-view' %}">Contact Us</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %} 
            <li>
                <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                {% if dealer_id %}
                <a class="btn btn-link" href="{% url 'djangoapp:add-review-view' dealer_id %}">Post Review</a>
                {% endif %}
               
                <a class="btn btn-link" href="{% url 'djangoapp:logout-view' %}">Logout</a>
            </li>
            {% elif not user.is_authenticated and title != "User Registration" %}
            <li>
                <form class="form-inline" action="{% url 'djangoapp:login-view' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Username" name="username" >
                        <input type="password" class="form-control" placeholder="Password" name="psw" >
                        <button class="btn btn-primary" type="submit">Login</button>
                        <a class="btn btn-link" href="{% url 'djangoapp:registration-view' %}">Sign Up</a>
                    </div>
                </form>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% endblock %}