{% extends 'djangoapp/base.html' %}
{% block content %}
<div class="container bg-dark" style="border-radius:40px ;padding:60px; margin-top: 40px;">
<form action="{% url 'djangoapp:registration-view' %}" method="post">
    <div class="container"> 
        {% csrf_token %}
        <h1 class="text-white">Sign Up</h1>
         <hr style="background-color: lightblue;" />
        <div class="form-group"> 
            <label for="username" class="text-info"><b>User Name</b></label>
            <input type="text" class="form-control" placeholder="Enter User Name: " name="username" required> 
            <label for="firstname" class="text-info"><b>First Name</b></label>
            <input type="text" class="form-control" placeholder="Enter First Name: " name="firstname" required> 
            <label for="lastname" class="text-info"><b>Last Name</b></label>
            <input type="text" class="form-control" placeholder="Enter Last Name: " name="lastname" required> 
            <label for="psw" class="text-info"><b>Password</b></label>
            <input type="password" class="form-control" placeholder="Enter Password: " name="psw" required> 
            {% if message %}
            <div class="alert alert-warning"> 
                {{ message }}
            </div>
            {% endif %}
            <br/>
            <button class="btn btn-info btn-lg btn-block" type="submit">Sign up</button> 
        </div>
    </div>
</form>
</div>
{% endblock %}











<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
    Add a registration form here
    </body>
</html> -->